@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

$text_font: 'DM Sans', sans-serif;

.testimonial_container{
    background-color: #1E0E62;
    height: 800px;
    color: white;
    font-family: $text_font;
    display: flex;
    justify-content: center;
    align-items: center;
    .testimonial_article{
        // border: 1px solid white;
        width: 970px;
        height: 600px;
        &>header{
            font-weight: bold;
            font-size: 42px;
            text-align: left;
        }
        .happy_clients_sections{
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            &>section{
                display: flex;
                width: 470px;
                height: 240px;
                border: 1px solid rgba($color: white, $alpha: 0.5);
                border-radius: 15px;
                align-items: center;
                justify-content: center;
                // padding: 50px;
                // justify-content: center;
                .person{
                    width: 410px;
                    height: 180px;
                    display: flex;
                    justify-content: space-between;
                    // border: 1px solid white;
                    .picture{
                        align-self: flex-start;
                        width: 90px;
                        height: 90px;
                        object-fit: cover;
                        // background-image: url('../../assets/happy_clients/client1.jpg');
                        // background-repeat: no-repeat;
                        // background-size: cover;
                        border-radius: 10px;
                    }
                    .section_text{
                        font-weight: 500;
                        font-size: 18px;
                        width: 300px;
                        height: 180px;
                        display: flex;
                        text-align: left;
                        flex-direction: column;
                        // border: 1px solid white;
                        &>p{
                            flex: 1;
                        }
                        &>span{
                            flex: 0;
                            text-transform: uppercase;
                            opacity: 0.4;
                        }
                    }
                }
            }

        }
    }
}