@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

$text_font: 'DM Sans', sans-serif;

.team_container{
    font-family: $text_font;
    background-color: hsl(251, 72%, 34%);
    height: 990px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &>article{
        // margin-left: 120px;
        width: 760px;
        height: 790px;
        border: 1px solid whi;
        text-align: left;
        
        &>header{
            &>h1{
                font-weight: bold;
                font-size: 42px;
                margin-bottom: 30px;
            }
            &>p{
                font-weight: 500;
                font-size: 22px;
            }
        }
        .crew_member_container{
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between;
            column-gap: 70px;
            row-gap: 60px;
            &>section{
                // border: 1px solid purple;
                // border: 1px solid white;
                display: flex;
                flex-direction: column;
                row-gap: 12px;
                height: 100%;
                text-align: left;
                &>img{
                    height: 100px;
                    width: 100px;
                }
                &>h1{
                    font-weight: 500;
                    font-size: 32px;
                }
                &>span{
                    font-size: 16px;
                }
                .linksToMember{
                    display: flex;
                    column-gap: 30px;
                    cursor: pointer;
                }
            }
           
        }    
        
    }
}