@import '../../scss_fragments/reset';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

$text_font: 'DM Sans', sans-serif;

.content_page{
    background-image: url('../../assets/content_backgr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2F1893;
    // border: 10px solid black;
    font-family: $text_font;
    color: white;
    height: 540px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    &>article{
        width: 50%;
        // height: 100%;
        // border: 1px solid white;
        display: flex;
        flex-direction: column;
        // border: 1px solid white;
        align-items: center;
        justify-content: center;
        row-gap: 2em;
        padding: 1em;
        &>header{
            // border: 3px solid black;
            // flex-grow: 2.5;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
        }
        .content_page_article_section{
            // height: 100%;
            // flex-grow: 5;
            row-gap: 2em;
            // border: 3px solid red;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            // border: 1px solid red;
            &>header{
                // flex-grow: 0;
                // border: 1px solid black;
                font-weight: bold;
                font-size: 3.75em;
                letter-spacing: 0.38rem;
            }
            &>p{
                width: 90%;
                padding: 0;
                margin: 0;
                // flex-grow: 0;
                // border: 1px solid black;
                font-size: 1.15em;
                font-weight: 500;
                align-self: center;
                // width: 50vw;
            }
        }

    }
}

@media screen and (min-width: 2355px){
    .content_page{
        .content_page_article{
            // border: 1px solid white;
            width: 100vw;
            padding: 0 0.75em;
            .content_page_article_header{
                font-size: 1.2rem;
            }
            .content_page_article_section{
                // border: 1px solid white;
                &>:nth-child(n){
                // border: 1px solid red;
                }
                &>header{
                    width: 60%;
                    font-size: 4.5rem;
                }
                &>p{
                    width: 50%;
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media screen and (min-width:1870px) and (max-width:2354px){
    .content_page{
        .content_page_article{
            // border: 1px solid white;
            width: 100vw;
            padding: 0 0.75em;
            .content_page_article_header{
                font-size: 1.2rem;
            }
            .content_page_article_section{
                // border: 1px solid white;
                &>:nth-child(n){
                // border: 1px solid red;
                }
                &>header{
                    width: 65%;
                    font-size: 4rem;
                }
                &>p{
                    width: 50%;
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media screen and (min-width:1550px) and (max-width:1869px) {
    .content_page{
        .content_page_article{
            // border: 1px solid white;
            width: 100vw;
            padding: 0 0.75em;
            .content_page_article_header{
                font-size: 1rem;
            }
            .content_page_article_section{
                // border: 1px solid white;
                &>:nth-child(n){
                // border: 1px solid red;
                }
                &>header{
                    width: 80%;
                }
                &>p{
                    width: 65%;
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media screen and (min-width:1200px) and (max-width:1549px){
    .content_page{
        .content_page_article{
            // border: 1px solid white;
            width: 100vw;
            padding: 0 0.75em;
            .content_page_article_header{
                font-size: 1rem;
            }
            .content_page_article_section{
                // border: 1px solid white;
                &>:nth-child(n){
                // border: 1px solid red;
                }
                &>header{
                    width: 85%;
                }
                &>p{
                    width: 70%;
                }
            }
        }
    }
}

@media screen and (min-width:760px) and (max-width:1199px){
    .content_page{
        .content_page_article{
            // border: 1px solid white;
            width: 100vw;
            padding: 0 0.75em;
            .content_page_article_section{
                // border: 1px solid white;
                &>:nth-child(n){
                // border: 1px solid red;
                }
                &>header{
                    // border: 1px solid white;
                    // font-size: 1.5rem;
                    // letter-spacing: 0.2rem;
                    // width: 95%;
                }
                &>p{
                    font-size: 1.2rem;
                    width: 85%;
                }
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:759px){
    .content_page{
        .content_page_article{
            // border: 1px solid white;
            width: 100vw;
            padding: 0 0.75em;
            // &>:nth-child(n){
                 // border: 1px solid white;
            // }
            .content_page_article_section{
                &>:nth-child(n){
                // border: 1px solid red;
                }
                &>header{
                    font-size: 1.5rem;
                    letter-spacing: 0.2rem;
                    width: 95%;
                }
                &>p{
                    font-size: 1rem;
                    width: 80%;
                }
            }
        }
    }
}