@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
$textInRow: left;

nav {
    text-align:$textInRow;
}

.website_links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

// .close_button{
//     display: none;
// }

ul{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    // border: 1px solid white;
    padding-bottom: 3em;
    li{
        margin-right: 40px;
        display: flex;
        list-style: none;
        cursor:pointer;
        &>a{
            text-decoration: none;
            color: white;
        }
        
        
    }
}

@media screen and (min-width:2560px){
    .website_links{
        // padding-top: 10px;
    }
    ul{
        padding-bottom: 0;
        // border: 1px solid white;
        &>li{
        // border: 1px solid white;
        font-size: 2em;
        }
    }
    
}

@media screen and (max-width: 1365px){
    .website_links{
        padding-top: 10px;
    }
    ul{
        flex-direction: row;
        // padding-bottom: 3em;
    }
}

@media screen and (max-width:1023px){
    .website_links{
        padding: 0px;
    }
    .website_links_list_link{
        font-size: 2em;
    }
    // .close_button{
    //     position: absolute;
    //     top: 0px;
    //     right: 0px;
    // }
    ul{
        flex-direction: column;
        // justify-content: space-evenly;
        // color: red;
        // width: 100vw;
        justify-content: center;
        align-items: center;
        // border:1px solid white;
        // flex-wrap: wrap;
        // height: fit-content;
        padding-bottom: 0px;
        margin: 0px;
    }
}

@media screen and (max-width: 767px){
    .website_links{
        padding: 0px;
    }
    .website_links_list_link{
        font-size: 1em;
    }
    // .close_button{
    //     position: absolute;
    //     top: 0px;
    //     right: 0px;
    // }
    ul{
        flex-direction: column;
        // justify-content: space-evenly;
        // color: red;
        // width: 100vw;
        justify-content: center;
        align-items: center;
        // border:1px solid white;
        // flex-wrap: wrap;
        // height: fit-content;
        padding-bottom: 0px;
        margin: 0px;
    }
    li{
        // border: 1px solid red;
    }
}


