@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

$text_font: 'DM Sans', sans-serif;

.features_page{
    font-family: $text_font;
    color: white;
    background-image: url('../../assets/features_backgr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2F1893;
    height: 750px;

    &>article{
        height: 100%;
        &>section{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            // border: 1px solid white;
            
            
            .features_macbook{
                // flex-grow:0;
                // border: 1px solid white;
                &>img{
                    height: 500px;
                    width: 450px;
                    transform: translate(-50%) scaleX(2);
                }
            }
            .main_text{
                // flex-grow: 2;
                text-align: left;
                display: flex;
                flex-direction: column;
                // border: 1px solid white;
                justify-content: space-between;
                height: 400px;
                width: 600px;
                .main_text_header{
                    // border: 1px solid white;
                    &>header{
                        &>h1{
                            font-weight: bold;
                            font-size: 42px;
                        }
                    }
                    &>p{
                        flex-grow: 1;
                        font-size: 22px;
                        font-weight: 500;
                    }

                }
                .main_text_features{
                    display: flex;
                    flex-grow: 0;
                    // border: 1px solid white;
                    // align-self: flex-end;
                    &>section{
                        display: flex;
                        flex-direction: column;
                        width: 270px;
                        height: 180px;
                        // border: 1px solid white;
                        justify-content: space-between;
                        &>header{
                            font-size: 14px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        &>p{
                            // align-self: flex-end;
                            font-size: 16px;
                        }
                        .feature_diamond_comp,
                        .feature_square_comp{
                            height: 37px;
                            width: 37px;
                        }
                    }
                }
            }
            .features_bar{
                flex-grow: 0.40;
                justify-self:flex-end;
                &>div{
                    border: 2px solid white;
                    border-radius: 50%;
                    height: 9px;
                    width: 9px;
                    cursor: pointer;
                    margin-bottom: 20px;
                    &:first-child{
                     background-color: white;
                    }
                    &:last-child{
                        margin-bottom: 0px;
                    }
               }
            }
        }
    }
}