@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

$text_font: 'DM Sans', sans-serif;

.features_page{
    font-family: $text_font;
    color: white;
    background-image: url('../../assets/features_backgr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2F1893;
    height: 750px;

    &>article{
        height: 100%;
        &>section{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            // border: 1px solid white;
            
            
            .features_macbook{
                // flex-grow:0;
                // border: 1px solid white;
                &>img{
                    content: url('../../assets/features_macbook.png');
                    height: 30em;
                    width: 28em;
                    transform: translate(-50%) scaleX(2);
                }
            }
            .main_text{
                // flex-grow: 2;
                text-align: left;
                display: flex;
                flex-direction: column;
                // border: 1px solid white;
                justify-content: space-between;
                height: 400px;
                width: 600px;
                .main_text_header{
                    // border: 1px solid white;
                    &>header{
                        &>h1{
                            font-weight: bold;
                            font-size: 42px;
                        }
                    }
                    &>p{
                        flex-grow: 1;
                        font-size: 22px;
                        font-weight: 500;
                    }

                }
                .main_text_features{
                    display: flex;
                    flex-grow: 0;
                    // border: 1px solid white;
                    // align-self: flex-end;
                    &>section{
                        display: flex;
                        flex-direction: column;
                        width: fit-content;
                        height: 12em;
                        // border: 1px solid white;
                        justify-content: space-between;
                        &>header{
                            font-size: 14px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        &>p{
                            // align-self: flex-end;
                            font-size: 16px;
                        }
                        .feature_diamond_comp,
                        .feature_square_comp{
                            height: 37px;
                            width: 37px;
                        }
                    }
                }
            }
            .features_bar{
                flex-grow: 0.40;
                justify-self:flex-end;
                &>div{
                    border: 2px solid white;
                    border-radius: 50%;
                    height: 9px;
                    width: 9px;
                    cursor: pointer;
                    margin-bottom: 20px  ;
                    &:first-child{
                     background-color: white;
                    }
                    &:last-child{
                        margin-bottom: 0px;
                    }
               }
            }
        }
    }
}

@media screen and (min-width:1920px){
    .features_page{
        // height: 50vh;
        // border: 1px solid red;
        .features_page_article{
            
            .features_page_section{
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                // align-items: center;
                justify-content: space-between;
                // grid: repeat(1,fit-content)/repeat(3,1fr);
                // border: 1px solid white;
                &>:nth-child(n){
                    // border: 1px solid black;
                }
                .features_macbook{
                    // border: 1px solid     black;
                    &>img{
                        height: 40em;
                        width: 40em;
                    }
                }
                .main_text{
                    justify-self: center;
                    width: 75%;
                    gap:10%;
                    // width: ;
                    .main_text_header{
                        &>header{
                            &>h1{
                                font-size: 4rem;
                            }
                            // color: red;
                        }
                        &>p{
                            font-size: 2rem;
                        }
                    }
                    .main_text_features{
                        .main_text_features_first > header, .main_text_features_second > header{
                            font-size: 1.5rem;
                        }
                        p{
                            width: 80%;
                            font-size: 1.25rem;
                        }
                        .feature_square_comp, .feature_diamond_comp{
                            height: 2.5rem;
                            width: 2.5rem;
                        }
                    }
                }
                .features_bar{
                    justify-self: center;
                }
            }
        }
    }
}

@media screen and (min-width:1279px) and (max-width:1920px){
    .features_page{
        height:85vh;
        .features_page_article{
            .features_page_section{
                // border: 1px solid white;
                .features_macbook{
                    &>img{
                        height: 23em;
                        width: 23em;
                    }
                }
                .main_text{
                    .main_text_features{
                        // border: 1px solid red;
                        gap: 8em; 
                    }
                }
                .features_bar{
                    // border: 1px solid white;
                }
            }
        }
    }
}


@media screen and (max-width:1279px){
    .features_page{
        height: 85vh;
        .features_page_article{
            width: 100vw;
            // border:1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            .features_page_section{
                width: 90%;
                height: fit-content;
                display: grid;
                grid: repeat(2,fit-content)/repeat(3,1fr);
                align-items: center;
                justify-content: space-between;
                // border:4px solid black;
                row-gap: 10%;
                .features_macbook{
                    &>img{
                        height: 18em;
                        width: 15em;
                        transform: translate(-70%) scaleX(2);
                        // border: 4px   solid red;
                    }
                }
                .main_text{
                    height: fit-content;
                    grid-column: 2/4;
                    grid-row: 1/2;
                    // border: 1px solid black ;
                    width: fit-content;
                    // align-self: end;
                }
                .features_bar{
                    height: fit-content;
                    grid-column: 2/4;
                    grid-row: 2/3;
                    justify-self: center;
                    align-self: start;
                    display: flex;
                    column-gap: 1.2em;
                    // border: 1px solid black;
                    &>div{
                        margin: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .features_page{
        height: 100vh;
        // padding: 0 0.5em;
        width: 100vw;
        .features_page_article{
            // height: 100%;
            .features_page_section{
                display: grid;
                grid: repeat(2,auto-fill)/100vw;
                // row-gap: 1000px;
                // grid-template-columns: 100vw;
                // grid-template-rows: 1fr 1fr;
                // grid-template-rows: repeat(3,1fr) ;
                width: 100vw;
                // row-gap: 0px;
                // height: 100%;
                &>:nth-child(n){
                    // border: 2px solid black;
                }
                .features_macbook{
                    display: none;
                }
                .main_text{
                    // border: 1px solid black;
                    width: 100vw;
                    height: fit-content;
                    display: grid;
                    grid: repeat(2,auto-fill)/100vw;
                    // padding: 0.5em;
                    // row-gap: 2vw;
                    // border: 1px solid black;
                    .main_text_header{
                        // border: 1px solid black;
                        text-align: center;
                        width: 100vw;  
                        // border: 1px solid black;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        #features{
                            // text-align: center;
                            font-size: 1.75em;
                        }  
                        &>p{
                            font-size: 1em;
                            width: 80%;
                            // border: 1px solid black;
                        }
                    }
                    .main_text_features{
                        padding: 0 0.5em;
                        width: 100vw; 
                        // height: fit-content;
                        // column-gap: 3.5rem;  
                        // border: 3px solid black;
                        display: flex;
                        flex-direction: column;
                        // grid: repeat(2,1fr)/100%;
                        // justify-content: center;
                        align-items: center;
                        .main_text_features_first{
                            // grid-column: span 2;
                            height: fit-content;
                            // border: 1px solid white;
                            // width: fit-content;
                            // align-self: center ;
                            &>header{
                                font-size: 0.75em;
                            }
                            &>p{
                                font-size: 0.8em;
                                
                            }
                        }
                        .main_text_features_second{
                            // grid-row: span 3;
                            height: fit-content;
                            // border: 1px solid black;

                            &>header{
                                font-size: 0.75em;
                            }
                            &>p{
                                // border: 1px solid black;
                                font-size: 0.8em;
                                padding: 0px;
                                margin: 0px;
                            }
                        }
                        .main_text_features_first,.main_text_features_second{
                            width: 100vw;
                            display: flex;
                            flex-direction: column;
                            // justify-content: flex-end;
                            align-items: center;
                            text-align: center;
                            // gap: 0.05em;
                            width: 60%;
                        }
                    }
                }
                .features_bar{
                    justify-self: center;
                    align-self: center;
                    display: flex;
                    column-gap: 20px;
                    // border: 1px solid red;
                    &>div{
                        margin: 0px;
                    }; 
                }
            }   
        }
    }
}