@import './scss_fragments/reset';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

$text_font: 'DM Sans', sans-serif;

.wholeApp{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    text-align: center;
}
  
main{
    display: flex;
    flex-direction: column;
}

  
    
  