@import './scss_fragments/reset';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

$text_font: 'DM Sans', sans-serif;

.wholeApp{
    display: grid;
    grid-template-columns: fit-content;
    grid-template-rows: fit-content;
    text-align: center;
    // overflow: hidden;
    // height: 2000px;
    // width: 100vw;
    // height: fit-content;
}
  
main{
    display: flex;
    flex-direction: column;
    // border: 5px solid black;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: fit-content;
}

  
    
  