/* .wholeApp{
  background-image: url('./assets//main_backgr.png');
} */

.wholeApp{
  /* width: 100%; */
  height: 100vh;
  background-image: url('./assets//main_backgr.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #2F1893;
}